<div class="col">
    <div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{Type}}</h5>
        <h6 class="card-price text-center">{{Price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{UserQuantity}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{Storage}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{PublicProjects}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{CommunityAccess}}s</li>
          <li class={{PrivateProjectsList}}><span class="fa-li"><i class={{PrivateProjectsIcon}}></i></span>{{PrivateProjects}}</li>
          <li class={{PhoneSupportList}}><span class="fa-li"><i class={{PhoneSupportIcon}}></i></span>{{PhoneSupport}}</li>
          <li class={{DomainQuantList}}><span class="fa-li"><i class={{DomainQuantIcon}}></i></span>{{DomainQuant}}
          </li>
          <li class={{StatusReportsList}}><span class="fa-li"><i class={{StatusReportsIcon}}></i></span>{{StatusReports}}</li>
        </ul>
        <div class="d-grid">
          <a href="#" class="btn btn-primary text-uppercase">Button</a>
        </div>
      </div>
    </div>
  </div>